{{outlet}}

<div class="bar bar-header bar-light">
  <h1 class="title">Presupuestos</h1>
</div>


<div class="content">
  <div style="height: 200px"></div>

  <div class="padding-vertical">
    <button disabled class='btn btn-danger btn-sm'>{{fa-icon "plus"}} Crear un presupuesto</button>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
    <th></th>
        <th>Título del presupuesto</th>
        <th>Cliente</th>
        <th>Fecha</th>
      </tr>
    </thead>

    <tbody>
      {{#each model as |presupuesto|}}
        <tr>
          <td>{{presupuesto.id}}</td>
          <td>{{#link-to "presupuesto" presupuesto}}{{presupuesto.titulo}}{{/link-to}}</td>
          <td>{{presupuesto.cliente}}</td>
          <td>{{presupuesto.date}}</td>
        </tr>
      {{/each}}
    </tbody>

  </table>
</div>
